  @import url('https://fonts.cdnfonts.com/css/cascadia-code');

  body {
    background-color: transparent;
  }

  h1 {
    color: black;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 35px;
  }

  h2 {
    color: black;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 25px;
  }

  h3 {
    color: black;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 17px;
  }

  h4 {
    color: black;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 15px;
  }

  .p1 {
    color: black;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 20px;
  }

  .p2 {
    color: black;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 17px;
  }

  .p3 {
    color: black;
    font-family: 'Cascadia Code', sans-serif;
  }

  .articlee {
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
  }

  .img {
    background-color: transparent;
    width: 100%;
    height: 100%;
  }

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: none;
  }

  a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
  }