<!DOCTYPE html>
<html lang="it">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jacnotes_/articoli/articles_001</title>
<link rel="icon" type="image/x-icon" href="../images/terminal.ico">
 <link rel="stylesheet" href="../styles1.css">
</head>
<body>
 <table style="width:100%">
  <tr>
   <td>
    <img src="../images/coding.png">
   </td>
   <td style="width:80%">
    <h1>articoli_</h1>
   </td>
   <td>
    <h3>
     <a href="../index.html">home</a>
    </h3>
   </td>
   <td>
    <h3>
     <a href="../articoli.html">articoli</a>
    </h3>
   </td>
   <td>
    <h3>
     <a href="../progetti.html">progetti</a>
    </h3>
   </td>
   <td>
    <h3>
     <a href="../chisono.html">chi_sono</a>
    </h3>
   </td>
  </tr>
 </table>

 <div class="article">  
  <div class="article">
      <h2>Titolo Articolo</h2>
      <h3>Descrizione articolo</h3>
    </div>
  </div> 
  <footer>
  <table align = "center">
   <tr>
    <td>
        <a href="https://it.linkedin.com/in/jacopo-pica">
            <img src="../images/linkedin_logo.png"></a>
    </td>
    <td>
        <a href="https://twitter.com/d0ntc0s">
            <img src="../images/twitter_logo.png"></a>
    </td> 
    <td>
        <a href="https://www.instagram.com/jacopo_cornelis_escher/">
            <img src="../images/instagram_logo.png"></a>
    </td>
   </tr>
  </table>
 </footer>

</body>
</html>
